* {
    padding: 0;
    margin: 0;
}

.header {
    padding-top: 33px;
    padding-bottom: 45px;
}

.header__link {}

.top {
    padding-top: 160px;
    padding-bottom: 98px;
}

.heading__smal {
    margin-bottom: 10px;
}

.top_heading__h1 {
    margin-bottom: 40px;
}

.paragraph {
    margin-bottom: 50px;
}

.top_content_button {
    pad: 15px 30px;
}

.top__logo {
    padding-top: 99px;
    padding-bottom: 99px;
}