header svg:hover {
    transform: scale(1.15);
}

header svg:hover path {
    fill: rgb(227, 134, 20)
}

.catalog_grid__item:hover .catalog_card_img_wrapper__img {
    z-index: -1;
}

.catalog__button:hover {
    background-color: #F26376;
    color: #FFF;
}

.catalog__button:active {
    background-color: #933b47;
}

.newsletter_subscribe__input:focus {
    outline: 0.5px solid #63757c;
}

.newsletter_subscribe__submit:hover {
    font-size: 14.5px;
}

.newsletter_subscribe__submit:active {
    background-color: #933b47;
}

.footer_icons_right svg:hover .svg_path_one {
    fill: #F26376;
}

.footer_icons_right svg:hover .svg_path_two {
    fill: white;
}