@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header {
    display: flex;
    background-color: #222;
    display: flex;
    justify-content: space-between;
}

.header_left_grup__logo {
    display: flex;
    gap: 41px;
}

.top {
    display: flex;
    background-color: #F1E4E6;
}

.top__title {
    display: flex;
    border-left-width: 12px;
    flex-direction: column;
    margin-top: 290px;
    margin-left: 64px;
}

.top_title__border {
    border-left: solid #F16D7F;
    border-width: 12px;
    padding-left: 16px;
}

.top_title_h4_text1 {
    grid-area: 1 / 1 / 2 / 3;
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.top_title_h4_text2 {
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.top_title_h4_text3 {
    color: #F16D7F;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.top__content {
    padding-top: 65px;
    padding-bottom: 96px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 30px;
}

.top_content__grid {
    display: flex;
    gap: 30px;
}

.top_content_grid__item {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}

.top_content_grid_item__rectangle_shadow {
    background-color: rgba(33, 22, 22, 0.70);
    /* position: absolute; */
}

.top_content_grid_item__img {
    position: absolute;
    opacity: 0.3;
}

.top_content_grid_item_overlay_text {
    position: absolute;
}

.top_content_grid_item_overlay_text__h3 {
    display: flex;
    flex-direction: column;
}

.top_content_grid_item_overlay_text_h3__text1 {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top_content_grid_item_overlay_text_h3__text2 {
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.middle_content__title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle_content_title_h3 {
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.middle_content_title__paragraph {
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.middle_content__grid {
    padding-top: 48px;
    padding-bottom: 48px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}

.middle_content_grid__item {
    background-color: #F8F8F8;
    ;
}

.middle_content_grid_item__content {
    padding-top: 24px;
    padding-bottom: 20px;
    padding-left: 16px;
    padding-right: 28px;
}

.middle_content_grid__title {
    margin-bottom: 13px;
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.middle_content_grid__paragraph {
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.middle_content_grid__price {
    margin-top: 18px;
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.middle_content__button {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    position: relative;
}

.middle_content_button__img {
    position: absolute;
}

.middle_content_button__link {
    position: absolute;
    top: 15px;
    bottom: 14px;
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}